/* Basic Reset */

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.approveDocuments_table-container {
    width: 100%;
    max-width: 1550px;
    margin: 20px auto 10px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.approveDocuments_table-header {
    background-color: #6c7ae0;
    color: white;
    position: sticky;
    top: 0;
}

.approveDocuments_table-header th {
    padding: 12px;
    text-align: left;
}

.approveDocuments_table-body {
    max-height: 100%;
    overflow-y: auto;
}

.approveDocuments_table-body table {
    width: 100%;
    border-collapse: collapse;
}

.approveDocuments_table-body td {
    padding: 12px;
    border-bottom: 1px solid #f0f0f0;
    height: 59px;
}

.approveDocuments_table-body tr:nth-child(even) {
    background-color: #f9f9f9;
}

.approveDocuments_table-content tr:hover {
    background-color: #f1f1f1;
}


.approveDocuments_table-body::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

.approveDocuments_table-body::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background of the scrollbar track */
}

.approveDocuments_table-body::-webkit-scrollbar-thumb {
    background: #6c7ae0;
    /* Color of the scrollbar thumb */
    border-radius: 4px;
    /* Rounded corners for the thumb */
}

.approveDocuments_table-body::-webkit-scrollbar-thumb:hover {
    background: #4a5fb8;
    /* Darker shade on hover */
}

.upload-button {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #21B6A8;
    padding: 10px 15px;
    font-family: cursive;
    cursor: pointer;
}

.upload-button-disable {
    border: 1px solid black;
    border-radius: 10px;
    background-color: gray;
    padding: 10px 15px;
    font-family: cursive;
    cursor: none;
    pointer-events: none;
}