.login {
    background-color: #FCF8EC;
    width: 100vw;
    height: 100vh;
}

.rightContainer3 {
    width: 50%;
    height: 100%;
    float: right;
    display: grid;
    place-items: center;
}

.leftContainer3 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    float: left;
}

.passRecoArea {
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 10%;
    display: grid;
    place-items: center;
}

.form3 {
    width: 80%;
    height: 80%;
    place-items: center;
    align-items: center;
}

.passRecoInfo3 {
    width: fit-content;
    height: fit-content;
}

.input {
    width: 300px;
    height: 35px;
    padding-left: 10px;
    border-radius: 12px;
    border: 1px solid black;
}
#submit {
    font-size: 20px;
    width: 50%;
    height: 40px;
    font-weight: bold;
    border-radius: 12px;
    background-color: #21B6A8;
    color: white;
    border: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);    
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: pointer;

}

.label {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 550;
}

.infoContainer {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.action {
    text-align: center;
}