/* Basic Reset */

body {
  font-family: Arial, sans-serif;
  background-color: white;
}

.table-container {
  width: 100%;
  max-width: 1550px;
  margin: 20px auto 10px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-header {
  background-color: #6c7ae0;
  color: white;
}

.table-header th {
  padding: 12px;
  text-align: left;
}

.table-body {
  max-height: 100%;
  overflow-y: auto;
}

.table-body table {
  width: 100%;
  border-collapse: collapse;
}

.table-body td {
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
}

.table-body tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-content tr:hover {
  background-color: #f1f1f1;
}

